# Core dependencies
streamlit
faiss-cpu
cohere
groq
pymupdf
langchai
langchain-community

# Utilities
python-dotenv
pydantic
numpy
pandas
tqdm

# PDF processing
unstructured[pdf]
pillow

# Development and testing
pytest
pytest-cov
pytest-mock

streamlit-testing


